/* CSS Document */
		.header-top {
			min-height: 60px;
		}
.right .ten{
	float: right;
}
.right .thoat{
	float: right;
}
		/*.left{
			float: left;
			width: 20%;
			margin-left: 20px;
			color: white;
			font-size: 15px;
			line-height: normal;
			cursor: pointer;
		}
		.left:hover{
			color: #EAE038;
		}
		.right{
			float: right;	
		}
		.right a{
			color: white;
			padding-right: 45px;
			line-height: normal;
		}
		.right a:hover{
			color: #EAE038;
}*/
/* slider2.php*/
/* CONTACT */
	#gmap_canvas img{
		max-width:none!important;
		background:none!important
	}
	.googlemap {
		overflow:hidden;
		width: 80%;
		position: relative;
		left: 10%;
		margin-bottom: 10%;
	}
/* Shopping cart*/
/* header-middle*/
